{% extends 'base.html' %}


{% block content %}
<main>
    <div>
        <h1>{{ list_object.name }}</h1>
        <p>{{ list_object.description }}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        {% if list_object.tasks.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            {% for task in list_object.tasks.all %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date}}</td>
                <td>{{ task.is_completed|yesno:"yeah,no"}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
