{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <div>
            <p><a href="{% url 'create_project' %}">Create a new Project</a></p>
        </div>
        {% if list_projects.all|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <th>Name</th>
            <th>Number of tasks</th>
            {% for list in list_projects %}
            <tr>
                <td> <a href="{% url 'show_project' list.id %}">{{ list.name }}</a></td>
                <td>{{ list.tasks.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>

{% endblock content%}
